<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
    <h1 class="heading"><%= newDay %> Task List 🖊️</h1>
    </div>
 <div class="content">
    <form action="/" method="post">
        <input type="text" name="list" placeholder="Enter any task" autocomplete="off">
        <button type="submit">Add Task</button>
    </form> 
    <ul>
       <% for (let i = 0; i < listItem.length; i++) { %> 
            <li>
                <%= listItem[i] %>
                <form action="/delete" method="post" style="display: inline;">
                    <input type="hidden" name="index" value="<%= i %>">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </li>
       <% } %> 
    </ul>
 </div>
</body>
</html>
